/*--COMMON DECLARATIONS--*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  font-size: 100%;
}

body {
  background-color: #F9F9F9
}

h1 {
  font-family: Times;
  font-size: 23px;
  font-weight: normal;
  line-height: 1.5;
  margin: 20px 0px 0px;
  padding: 0;
  border-bottom: 1px solid #000000;
  overflow: hidden;
}

h3 {
  font-size: 17px;
}

p, li, blockquote {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 2px;
  margin-top: 7px;
}

blockquote {
  margin: 20px 50px;
  max-width: 810px;
}

ul {
  list-style-type: none;
}

ul > li::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: navy;
  margin-right: 7px;
}

 .edit {
  display: inline;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13px;
  padding-left: 8px;
}

/*--LINKS--*/

a {
  font-size: 12px;
  color: blue;
  text-decoration: none;
  margin-bottom: 2px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a:visited {
  color: navy;
}

/*<----------------  ASIDE  ----------->*/

aside {
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 175px;
  margin: 0;
  padding: 0;
}

.back {
  width: inherit;
  height: 5em;
  background-image: linear-gradient(#ffffff 50%,#f6f6f6 100%);
}

.aside__link, .npr {
  position: relative;
  bottom: 70px;
}

/*IMAGE*/

.aside__link__logo {
  width: 140px;
  height: 140px;
  padding: 10px;
  margin-bottom: 20px;
}

/*PRIMARY NAV*/

.npr {
  width: 160px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}


.npr__section a, .npr__section p{
  font-size: 12px;
}

.npr__section a {
  display: block;
  padding-left: 40px;
  line-height: 1.5em;
}

.npr__section--first a{
  padding-left: 25px;
}

.npr__section p {
  padding-left: 20px;
  margin-top: 7px;
  line-height: 10px;
}

.npr__section--border {
    width: 100%;
    height: 1px;
    padding: 0;
    margin-top: 5px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(161,161,161,1) 50%, rgba(247,247,247,1) 100%);
}

/*<-------------------MAIN-------------------->*/

main {
  width: calc(100% - 175px);
  float: left;
}


/*<--HEADER-->*/

header {
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 8px;
  background-image: linear-gradient(#ffffff 50%,#f6f6f6 100%);
}

.header__account {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 5px;
}

.search {
  max-width: 300px;
  height: 22px;
  border: 1px solid black;
  margin: 5px;
  background-color: white;
  box-shadow: inset 0px 15px 20px -13px rgba(232,229,232,1)
}

.searchicon {
  display: inline;
  float:right;
  width: 22px;
  height: 22px;
  background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2213%22%3E%3Cg%20stroke-width%3D%222%22%20stroke%3D%22%236c6c6c%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M11.29%2011.71l-4-4%22%2F%3E%3Ccircle%20cx%3D%225%22%20cy%3D%225%22%20r%3D%224%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
}

.searchicon:hover {
  cursor: pointer;
}

input {
  width: 278px;
  height: 22px;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}



.status a {
  display: inline-block;
  padding: 4px;
}


.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__menu__left, .header__menu__right {
  display: flex;
  justify-content: flex-start;
}

.header__menu a:first-child {
  position: relative;
  top: 1px;
  background-color: white;
  border-left: 1px solid #a7d7f9;
  border-bottom: 1px solid white;
}

.header__menu a {
    display: inline-block;
    font-size: 13px;
    line-height: 25px;
    padding: 5px 5px 2px;
    border-right: 1px solid #a7d7f9;
    margin: 0;
}

/*-------------ARTICLE--------------*/

article{
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 1em;
  border: 1px solid #a7d7f9;
}


/*-----NAME-------*/

.article__name h1 {
  font-size: 30px;
  margin: 0;
}

.article__name p {
  font-size: 13px;
  margin: 10px 0px 20px;
}

.article__name h2 {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  padding-left: 20px;
}

/*------BEGIN--------*/

.article__begin__bio {
  float: right;
  width: 270px;
  height: 540px;
  box-sizing: border-box;
  padding: 5px;
  background-color: #F9F9F9;
  border: 1px solid #000000;
  margin: 10px 10px 5px;
}

.article__begin__bio--bold {
  font-size: 15px;
  margin: 5px auto;
  font-weight: bold;
  text-align: center;
}

.article__begin__bio img {
  width: 220px;
  height: 275px;
  padding: 0px 25px;
}

.article__begin__bio__picsign {
  text-align: center;
  font-size: 12px;
  margin: 2px auto;
}

.article__begin__bio__table {
  width: 270px;
  font-size: 12px;
}

th {
  text-align: left;
  width: 75px;
  height: 30px;
}

/*------LIST-------*/

.article__begin__list {
  width: 110px;
  padding: 3px 8px;
  background-color: #F9F9F9;
  border: 1px solid grey;
}

.article__begin__list p {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
}

.article__begin__list a {
  font-size: 13px;
}

.article__begin__list ol {
  counter-reset: section;
  list-style-type: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.article__begin__list .inner {
  padding-left: 30px;
}

.article__begin__list li::before {
  counter-increment: section;
  content: counters(section,".") " ";
}

.article__begin__list li {
  margin: 0;
}

/*----EARLY LIFE----*/




/*----NASA---- +LEGACY PIC+*/

.article__nasa__frame, .article__legacy__frame {
  float: right;
  margin: 0;
  padding: 0;
}

.article__nasa__pics, .article__legacy__pics{
  background-color: #F9F9F9;
  width: 220px;
  padding: 5px;
  border: 1px solid grey;
  margin: 10px 10px 25px;
}

.article__nasa__pics__1--pic {
  height: 272px;
}

.article__nasa__pics__2--pic {
  height: 170px;
}

.article__nasa__pics--icon, .article__legacy__pics--icon {
  float: right;
  display: block;
  width: 15px;
  height: 11px;
  padding: 0;
  margin-left: 15px;
  margin: 0;
  background-image: linear-gradient( transparent,transparent ), url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2011%2015%22%20width%3D%2215%22%20height%3D%2211%22%3E%0A%20%20%20%20%3Cg%20id%3D%22magnify-clip%22%20fill%3D%22%23fff%22%20stroke%3D%22%23000%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22bigbox%22%20d%3D%22M1.509%201.865h10.99v7.919h-10.99z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22smallbox%22%20d%3D%22M-1.499%206.868h5.943v4.904h-5.943z%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A);
  background-repeat: no-repeat;
}

.article__nasa__pics__text, .article__legacy__pics__text {
  font-size: 12px;
  line-height: 17px;
}

.article__nasa__bqs {
  padding-left: 30px;
}


/*----LEGACY----*/

.article__legacy__pics {
  width: 180px;
}

.article__legacy__pics--pic {
  height: 240px;
}

/*----REFERENCES----*/

.article__references__list {
  font-size: 13px;
}
