body{
  max-width: 500px;
  text-align: justify;
}

/*<!-- Duck -->*/

#duck{
  position: relative;
}

#duck div{
 padding-bottom: 5px;
 border-bottom: 2px solid;
}

img[title="left-top"]{
  float: left;
  margin-right: 15px;
  margin-bottom: 40px;
}

img[title="right-top"]{
  float: right;
  margin-left: 15px;
  margin-bottom: 40px;
}

/*<!-- Box -->*/

#box{
  display: flex;
  flex-direction: column;
  width:240px;
  height: 150px;
  border: 2px solid;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}

#ex{
  color: white;
  background-color: black;
  padding: 0px 5px;
  border-radius: 10px;
  margin-top: -10px;
  margin-right: 20px;
  align-self: flex-end;
}

#wow{
  color: red;
  padding: 8px 0px 10px 20px;
  border-bottom: 2px solid black;
}

#happened{
  padding: 20px;
  border-bottom: 2px solid;
}

.buttons{
  display:flex;
  justify-content: flex-end;
  margin: 5px 10px;
}

.buttons span{
  padding: 4px;
  margin: 4px;
  background-color: #AAAAAA;
  border-radius: 9px;
}
